<%#
//about.ejs
//Victor Wheeler
//301167760
//10/1/2021
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>  <%#include partial head.ejs%>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>    <%#include partial header.ejs%>
</header>

<main>                                 <%#main html code%>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Victor Wheeler - About</h1>
      <p>A little bit about me</p>
      <img src="/images/aboutme.jpg" alt="Victor Wheeler" width="500" height="500">
      <h2>My Retirement Resume</h2>
      <p><a href="/files/Resume.pdf">Click to see the resume of a retired man.</a></p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Who am I?</h3>
      <ul>
      <li>Father</li>
      <li>Maker of Dinners</li>
      <li>Dish Washer</li>
      <li>Apprentice of many things including:</li>
        <ul>
          <li>machinist</li>
          <li>mechanic</li>
          <li>sailor</li>
          <li>developer</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>     <%#include partial footer.ejs%>
</footer>

</body>
</html>