<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Victor Wheeler - Contact Me</h1>
      <p>Get in touch</p>
      
      
<form action="/contact" id="contact-form" method="post" role="form">
  <fieldset>
    <label for="name">Name</label>
    <input 
      id="name" 
      name="name" 
      type="text" 
      placeholder="Your name" 
      required>

    <label for="email">Email</label>
    <input 
      id="email" 
      name="email" 
      type="text" 
      placeholder="Your email" 
      required>
<br>
    <label for="message">Message</label>
    <textarea 
      id="message" 
      name="message" 
      placeholder="Enter your message here" 
      rows="3" 
      required>
    </textarea>

    <button onclick="location.href='/'">Submit</button>
  </fieldset>
</form>




    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Contact info</h3>
      <ul>
      <li>Phone: 613-555-1515</li>
      <li>Email: nothanks@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>