<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Victor Wheeler</h1>
    <h2>Mission Statement</h2>
    <p>I am here to learn how to focus. The past few years I find myself a bit scattered and hope that trying to learn new things will bring me to a place of focus.</p>
    
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>