<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Victor Wheeler - Projects</h1>
      <h2>Current Projects</h2>
      <h3>Clean this garage</h3>
      <img src="/images/garage_cleanup.jpg">
      <br>
      <h3>Learn to sail my boat</h3>
      <img src="/images/my_boat.jpg">
      <br>
      <h3>Build this car, currently in Boston awaiting covid restrictions to end.</h3>
      <img src="/images/289.jpg">
    </div>
  </div>

  
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>