//////////////////////////////////////////////////////////
//services.ejs
//Victor Wheeler
//301167760
//10/1/2021
//////////////////////////////////////////////////////////
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>     //include head.ejs partial
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>     //include header.ejs partial
</header>

<main>                                 //main html code
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Victor Wheeler - Services</h1>
      <p>Services I offer and pricing</p>
      <ul>
      <li>Snow blow my neighbor driveway - usually paid in 6 packs or backed goods</li>
      <li>Mechanic related advice and help - normally 6 packs</li>
      <li>Machining related help - a bottle of reasonable scotch</li>
      </ul>

    </div>
  </div>

  
</main>

<footer>
  <%- include('../partials/footer'); %>     //include footer.ejs partial
</footer>

</body>
</html>