//////////////////////////////////////////////////////////
//head.ejs
//Victor Wheeler
//301167760
//10/1/2021
//////////////////////////////////////////////////////////
<meta charset="UTF-8">
<title>Victor Wheeler</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/bootstrap.min.css">    //twitter bootstrap as requested
<style>
  body { padding-top:50px; }
</style>